<configuration debug="true">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n %ex{20}
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.ticketmaster.springboot" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.ticketmaster.springboot.foundation.exception.logging.ExceptionLogger" level="ERROR" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="com.ticketmaster.sponsorship.upsell" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
